@tailwind base;
@tailwind components;
@tailwind utilities;

.chevron-mask {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.chevron-pair-left {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.chevron-pair-right {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
